.auth-section {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trends-container {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.trends-controls {
  padding: 1rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user-name {
  margin: 0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}